{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<style>
.ulclass>li{
	list-style-type:none;
}
</style>
<div class="row">
	<div class="col-md-6">
		<a href="admin/"><h4>Database Adminstration </h4></a>
	</div>
	<div class="col-md-2 pull-right">
		<form method="post">
			{%csrf_token%}
			<input type="submit" class="btn btn-primary" value="Sync data"/>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
			<h4>Analysis</h4>
			<ul class="ulclass">
				<li><a href="temperature/2"><h4>Max Temperature Analysis</h4></a></li>
				<li><a href="temperature/1"><h4>Min Temperature Analysis</h4></a></li>
				<li><a href="analysis/5"><h4>Rainfall Analysis</h4></a></li>
				<li><a href="analysis/4"><h4>Sunshine Analysis</h4></a></li>
			</ul>
	</div>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
